<div id="app" class="container-fluid">
  <h1> {{ title }}</h1>
  <div class="btn-group">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="selection">{{ depart || "Departure Airport" }}</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li v-for="airport in airports"><a href="#" v-on:click="setDepart(airport)">{{ airport }}</a></li> 
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="selection">{{ arrival || "Arrival Airport" }}</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li v-for="airport in airports"><a href="#" v-on:click="setArrival(airport)">{{ airport }}</a></li> 
    </ul>
  </div>
  <button class="btn btn-success" type="button">Search</button>
</div>  
  